-- 1. Crear la base de datos si no existe
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ToDoListDB')
BEGIN
    CREATE DATABASE [ToDoListDB]
END
GO

USE [ToDoListDB]
GO

-- 2. Crear la tabla de tareas (con manejo de errores por si ya existe)
IF OBJECT_ID('[dbo].[Tasks]', 'U') IS NOT NULL
    DROP TABLE [dbo].[Tasks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsCompleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
) ON [PRIMARY]
GO

-- 3. Aplicar valores por defecto
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO

-- 4. Opcional: Insertar datos de prueba para que el evaluador vea tu app funcionando
INSERT INTO [dbo].[Tasks] ([Title], [Description], [IsCompleted], [CreatedAt])
VALUES ('Net Core 10', 'Fundamentos', 0, GETDATE()),
       ('Angular 19', 'Fundamentos', 1, GETDATE());
GO